{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
       {% if current_user.is_authenticated: %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
       {% else: %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block title %}Edit Book{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1 class="display-4">Edit {{ book.title }}</h1>
        <hr class="my-4">
        <form action="{{ url_for('edit')}}" method="POST">
            <p>Book Name: {{ book.title }}</p>
            <p>Current Rating: {{ book.rating }}</p>
            <input hidden="hidden" name="id" value="{{book.id}}">
            <input style="color: black" style="color: black"name="rating" type="number">
            <button class="btn btn-warning btn-md" type="submit">Change Rating</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}