{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
       {% if logged_in: %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
       {% else: %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block title %}Library{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">📚 Library 💻</h1>
  <hr class="my-4">
  <p>Check out my collection of books and their ratings</p>
  {% if logged_in: %}
    <a class="btn btn-warning btn-lg" href="{{ url_for('books') }}" role="button">Show Me!</a>
  {% else: %}
    <a class="btn btn-warning btn-lg" href="{{ url_for('home2') }}" role="button">Show Me!</a>
  {% endif %}
</div>
    </div>

{% endblock %}